<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186419093044-l9t0ier8kk74uoavku150moqejcbarh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186419093044-l9t0ier8kk74uoavku150moqejcbarh5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186419093044-7lvu8t5v7gbv11netk80vagtgekjv3tr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOZRTJohqrPtfUlRLsXVXaEhkCLn_6XwM</string>
	<key>GCM_SENDER_ID</key>
	<string>186419093044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.intellectuapp</string>
	<key>PROJECT_ID</key>
	<string>intellectus-3de82</string>
	<key>STORAGE_BUCKET</key>
	<string>intellectus-3de82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186419093044:ios:392c9e35c9694a1982f461</string>
</dict>
</plist>